<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Unity3DTouchDemo</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>AppIcon57x57.png</string>
      <string>AppIcon57x57@2x.png</string>
      <string>AppIcon60x60@2x.png</string>
      <string>AppIcon72x72@2x~ipad.png</string>
      <string>AppIcon72x72~ipad.png</string>
      <string>AppIcon76x76@2x~ipad.png</string>
      <string>AppIcon76x76~ipad.png</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.shandagames.${PRODUCT_NAME}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>sdgExtension</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>0</string>
    <key>LSRequiresIPhoneOS</key>
    <true />
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true />
    </dict>
    <key>UIApplicationExitsOnSuspend</key>
    <false />
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeUpdate</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>当前版本号 v0.0.1.0</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>查看更新</string>
        <key>UIApplicationShortcutItemType</key>
        <string>com.shandagames.Demo3DTouch.Update</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict>
          <key>UnityGameObject</key>
          <string>UnityInterface</string>
          <key>UnityMethod</key>
          <string>VisitWebsite</string>
          <key>UnityParam</key>
          <string>https://itunes.apple.com/cn/app/%E7%A5%9E%E6%97%A0%E6%9C%88-%E4%B8%8E%E5%88%9D%E9%9F%B3%E6%9C%AA%E6%9D%A5%E4%B8%80%E8%B5%B7%E5%86%92%E9%99%A9%E5%90%A7/id1248272294?mt=8</string>
        </dict>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeShare</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>与好友一起享受快乐</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>分享游戏</string>
        <key>UIApplicationShortcutItemType</key>
        <string>com.shandagames.Demo3DTouch.Share</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict>
          <key>UnityGameObject</key>
          <string>UnityInterface</string>
          <key>UnityMethod</key>
          <string>ShareGame</string>
          <key>UnityParam</key>
          <string>123</string>
        </dict>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypePlay</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>与其他玩家一较高下</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>快速游戏</string>
        <key>UIApplicationShortcutItemType</key>
        <string>com.shandagames.Demo3DTouch.Play</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict>
          <key>UnityGameObject</key>
          <string>UnityInterface</string>
          <key>UnityMethod</key>
          <string>LoadScene</string>
          <key>UnityParam</key>
          <string>QuickGame</string>
        </dict>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemIconType</key>
        <string>UIApplicationShortcutIconTypeHome</string>
        <key>UIApplicationShortcutItemSubtitle</key>
        <string>moon.sdo.com</string>
        <key>UIApplicationShortcutItemTitle</key>
        <string>打开游戏官网</string>
        <key>UIApplicationShortcutItemType</key>
        <string>com.shandagames.Demo3DTouch.Home</string>
        <key>UIApplicationShortcutItemUserInfo</key>
        <dict>
          <key>UnityGameObject</key>
          <string>UnityInterface</string>
          <key>UnityMethod</key>
          <string>VisitWebsite</string>
          <key>UnityParam</key>
          <string>http://moon.sdo.com/</string>
        </dict>
      </dict>
    </array>
    <key>UILaunchStoryboardName~ipad</key>
    <string>LaunchScreen-iPad</string>
    <key>UILaunchStoryboardName~iphone</key>
    <string>LaunchScreen-iPhone</string>
    <key>UILaunchStoryboardName~ipod</key>
    <string>LaunchScreen-iPhone</string>
    <key>UIPrerenderedIcon</key>
    <false />
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true />
    <key>UIRequiresPersistentWiFi</key>
    <false />
    <key>UIStatusBarHidden</key>
    <true />
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
    <key>Unity_LoadingActivityIndicatorStyle</key>
    <integer>-1</integer>
    <key>UnityCloudProjectID</key>
    <string></string>
    <key>UnityCrashSubmissionURL</key>
    <string>https://a:b@perf-events.cloud.unity3d.com/symbolicate</string>
  </dict>
</plist>